{% extends "layout.html" %}
{% block content %}
    {% for article in articles %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <span class="mr-2">{{ article.author }}</span>
            </div>
            <h2><a class="article-title" href="{{ article.url }}">{{ article.title }}</a></h2>
                {% if current_user.is_authenticated %}
                    <div class="article-actions">
                        <form method="POST" action="/sharearticle">
                            {{ shared_form.hidden_tag("csrf_token") }}
                            {{ shared_form.user_target() }}
                            {{ shared_form.submit(class="btn btn-outline-info") }}
                            {{ shared_form.article(value=article.id) }}
                        </form>
                        <form method="POST" action="/addtomyfavorites">
                            {{ favorites_form.hidden_tag("csrf_token") }}
                            {{ favorites_form.submit(class="btn btn-outline-info") }}
                            {{ favorites_form.article(value=article.id) }}
                        </form>
                    </div>
                {% endif %}
            </div>
        </article>
    {% endfor %}
{% endblock content %}
